vinvl_bert@git+https://github.com/Mahmood-Anaam/vinvl_bert.git
Violet@git+https://github.com/Mahmood-Anaam/Violet.git
torch
torchvision
transformers
pytorch-transformers
numpy
opencv-python
Pillow
tqdm
anytree
yacs
pycocotools
timm
einops
PyYAML
cython
ninja
clint
cityscapesScripts
